@charset "utf-8";
$m: 70;
$color1: rgb(28, 31, 38);
$color2: rgb(21, 26, 47);
$color3: rgb(33, 35, 72);
$color4: rgb(54, 129, 196);
$color5: rgb(29, 143, 89);
$color6: rgb(222, 176, 106);
$color7: rgb(243, 180, 72);
$color8: rgb(218, 71, 71);

*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: $m;
    display: flex;
    align-items: center;
    padding: 14px;
    z-index: 100;
    background: $color1;
    -webkit-transform: translate3d(0, -$m * 1px, 0);
    transform: translate3d(0, -$m * 1px, 0);
    &.on {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .back {
        display: block;
        opacity: 0.8;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: url(../icn_back.svg) no-repeat;
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
    .breadcrumb {
        font: normal 16px/1 sans-serif;
        a {
            margin-left: 1.25em;
            color: #fff;
            &:hover {
                color: $color6;
            }
            &:not(:last-child) {
                &:after {
                    content: '/';
                    position: absolute;
                    display: inline-block;
                    margin: 0 0.5em;
                    pointer-events: none;
                }
            }
        }
    }
}

#chart {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    &.on {
        top: $m * 1px;
        height: calc(100% - #{$m} * 1px);
    }
}

.node {
    position: absolute;
    background: transparent no-repeat 50% / cover;
    border: 1px #aaa solid;
    overflow: hidden;
    opacity: 0.9;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    cursor: pointer;
    .value {
        color: #fff;
        font-size: 20px;
    }
    .label {
        display: block;
        color: #fff;
        font-size: 40px;
        position: absolute;
        padding: 0;
        margin: 0;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        -webki-transition: filter 0.8s;
        transition: filter 0.8s;
        opacity: 0.8;
    }
    &.hide {
        opacity: 0;
        pointer-events: none;
        .label {
            -webkit-filter: blur(10px);
            filter: blur(10px);
        }
    }
    &:hover {
        .label {
            opacity: 1;
        }
    }
    &.level-0 {
        z-index: 4;
        font-size: 15vmin;
        display: none;
    }
    &.level-1 {
        z-index: 3;
        font-size: 10vmin;
    }
    &.level-2 {
        z-index: 2;
        font-size: 7vmin;
    }
    &.level-3 {
        z-index: 1;
        font-size: 5vmin;
    }
}
